/* Resetear estilos predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general del cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Estilo para el encabezado */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

/* Estilo para las secciones */
main {
    padding: 20px;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

input[type="file"] {
    margin: 10px 0;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #555;
}

/* Estilo para el contenedor de medios */
#mediaContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}
